body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  background-color: var(--secondWhite);

  overflow: hidden;
}

:root { /* Color Pallete */
  /* Pallete Used:
  https://coolors.co/386641-6a994e-a7c957-f2e8cf-fffffc-001219 */

  --white: #FFFFFC;
  --secondWhite: #F2E8CF;
  --black: #001219;
  --primaryColor: #6a994e;
  --secondaryColor: #A7C957;
  --darkGreen: #386641;
  --shadowColorLight: rgba(0, 18, 25, 0.3);
  --shadowColorDark: rgba(0, 18, 25, 0.5);
  --transparent: rgba(0, 0, 0, 0.0)
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.material-symbols-outlined { /* Icon Settings */
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


.container { /* Root Grid */
  /* ~300px 1fr ~320px
  24% 48% 28% */

  display: grid;
  grid-template-columns: 320px 1fr 450px;
  height: 100vh;
}

/* || Left Panel */
.left-panel {
  background-color: var(--white);
  display: grid;
  grid-template-rows: auto; /* Top and Bottom */

  border-radius: 0 20px 20px 0;
  border-right: 1px solid var(--black);

  height: auto;
  overflow: none;

  padding: 8px 30px 8px 40px; /* 8 top and bottom, 40 left 30 right */
}
/* ------- TOP */
.left-panel .top {
  display: grid;
  grid-template-rows: repeat(7, 45px) 60px; /* More space to action */
}
.left-panel .top img {
  height: 36px;
  position: relative;
  left: 6px;
}
/* -------- BOTTOM */
.left-panel .bottom {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  width: 250px;

  margin-bottom: 8px;
}
/* ... */


/* || Main content */
.content {
  background-color: var(--secondWhite);
}
/* ... */


/* || Right Panel */
.right-panel {
  background-color: var(--white);
  display: grid;
  grid-template-rows: auto;
  grid-gap: 18px;

  border-radius: 20px 0 0 20px;
  border-left: 1px solid var(--black);

  overflow-y: scroll;
  overflow-x: hidden;

  padding: 8px 40px 8px 30px; /* 8 top and bottom, 30 left 40 right */
}

.who-to-follow,
.whats-happening {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 8px;

  background-color: var(--secondWhite);

  border-radius: 20px;
}
.who-to-follow .profile-button,
.whats-happening .news-button {
  background-color: var(--secondWhite);
}
.who-to-follow h3, /* Both titles */
.whats-happening h3 { /* Title */
  margin: 0;
  padding: 12px 16px;

  font-weight: bolder;
  color: var(--black);
}

.whats-happening .text-button {
  width: auto;
  height: auto;
  padding: 16px;
  
  border-radius: 0 0 20px 20px;
}

.footer {

}

/* ... */
/* || Reusable Classes */
.action-button {
  background-color: var(--primaryColor);
  color: var(--white);
  
  width: fit-content;
  padding: 0 24px;

  line-height: 40px;
  height: 40px;

  font-size: large;
  border-radius: 20px;

  transition: 0.2s;
}
.action-button:hover {
  cursor: pointer;
  box-shadow: var(--shadowColorDark) 0px 1px 5px;
}
.action-button:active {
  filter: brightness(92%); /* -8% */
}

.icon-button {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 8px;
  background-color: var(--white);
  color: var(--black);

  width: fit-content;
  height: 40px;
  padding: 0 24px 0 16px;

  font-size: large;
  line-height: 40px;
  border-radius: 20px;

  transition: 0.2s;
}
.icon-button:hover {
  filter: brightness(92%); /* -8% */
  cursor: pointer;
  box-shadow: var(--shadowColorLight) 0px 1px 5px;
}
.icon-button:active { /* Pressed */
  filter: brightness(88%); /* -12% */
}
.icon-button i { /* Button Icon */
  align-self: center;
  font-size: 18px;
}

.text-button {
  background-color: var(--secondWhite);
  color: var(--black);

  width: fit-content;
  height: 40px;
  padding: 0 24px 0 16px;
  
  font-size: medium;
  line-height: auto;
  border-radius: 20px;

  transition: 0.2s;
}
.text-button:hover {
  filter: brightness(92%); /* -8% */
  cursor: pointer;
  box-shadow: var(--shadowColorLight) 0px 1px 5px;
}
.text-button:active { /* Pressed */
  filter: brightness(88%); /* -12% */
}

.profile-button {
  background-color: var(--white);
  color: var(--black);
  display: grid;
  grid-template: 
  "img name more" auto
  "img username more" auto /
  60px auto auto;
  grid-gap: 8px;
  
  width: fit-content;
  height: 64px;
  padding: 0 24px;

  font-size: large;
  border-radius: 50px;

  transition: 0.2s;
}
.profile-button:hover {
  filter: brightness(92%); /* -8% */
  cursor: pointer;
  box-shadow: var(--shadowColorDark) 0px 1px 5px;
}
.profile-button:active {
  filter: brightness(88%); /* -12% */
}
.profile-button img { /* user picture */
  grid-area: img;
  height: 60px;
  display: flex;
  align-self: center;
}
.profile-button .profile-name { /* luciano simoni */
  grid-area: name;
  font-size: medium;
  position: relative;  
  top: 10px;
}
.profile-button .profile-username { /* @lucian.oh */
  grid-area: username;
  font-size: small;
  position: relative;  
}
.profile-button .material-symbols-outlined { /* the MORE btn */
  grid-area: more;
  display: flex;
  align-self: center;
  justify-self: flex-end;
  margin-left: 8px;
  width: fit-content;
}

.news-button {
  background-color: var(--white);
  color: var(--black);
  display: grid;
  grid-template: 
  "page img" auto
  "title img" auto /
  auto auto;

  width: auto;
  padding: 12px 24px;

  font-size: large;

  transition: 0.2s;
}
.news-button:hover {
  filter: brightness(92%); /* -8% */
  cursor: pointer;
  box-shadow: var(--shadowColorDark) 0px 1px 5px;
}
.news-button:active {
  filter: brightness(88%); /* -12% */
}
.news-button .news-page { /* World News - Today */
  grid-area: page;
  margin: 0;
  
  display: flex;
  align-items: flex-end;

  font-size: small;
}
.news-button .news-title { /* Russias's........ */
  grid-area: title;
  margin: 0;

  font-size: medium;
  word-wrap: break-word;
  font-weight: bold;
}
.news-button img { /* user picture */
  grid-area: img;
  height: 68px;
  width: 68px;
  object-fit: cover;

  margin-left: 12px;

  border-radius: 16px;
  box-shadow: var(--shadowColorLight) 0px 1px 5px;

  display: flex;
  align-self: center;
  justify-self: right;
}

.large-button {
  padding: 8px 90px;
  border-radius: 50px;
}
.rect-button {
  border-radius: 0;
  width: auto;
}
.rect-button .material-symbols-outlined { /* The button Icon */
  justify-content: end;
}
.bottom-rect-button {
  border-radius: 0 0 20px 20px;
}

/* ... */
